---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Welcome to Astro.">
	<div
		class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
	>
	</div>
	<img src="" alt="" />
	<main>
		<section>
			<h1
				class="text-6xl bg-gradient-to-r from-indigo-100 via-indigo-200 to-indigo-300 text-transparent bg-clip-text mt-20 text-center font-bold tracking-tighter items-center"
			>
				Informate sobre todo lo que importa
			</h1>

			<p class="text-white border-white mx-16 mt-10 text-center">
				Buscamos informarte e instarte a participar activamente de la
				problemática social actual. La <Link>Ley Hambre Cero</Link> elimina
				el <Link>FONACIDE</Link>, el cual financiaba, entre otras cosas,
				infraestructura en la educación, arancel cero e inversión en
				investigación. Además, proyectos del Ministerio de Salud Pública
				y Bienestar Social se veían beneficiados del mismo. Ahora, se
				establece como nueva fuente de financiamiento el Fondo 10
				(Tesoro Público Nacional), el cual ya se establece como <Link>incapaz</Link
				> de solventar nuevos gastos desde el año pasado. No hay seguridad
				sobre el financiamiento de los proyectos que dependían del FONACIDE,
				por lo que no nos quedamos conformes con la ley "HC".
			</p>
		</section>
	</main>
</Layout>
