---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
<main>
	<section>
		<!-- pagina web para el mayor conocimeitno de las leyes de hambre cero y las injusticias socailes hacia los estudiantes en Paraguay, su principal funcion es informar a apersonas y estudiantes y apoyarlos a que se sumen a las marchas, movimientos sociales y todo tipo de actividaades y que se promueva una ley que garantice la estabilidad del arancel cero, las inversiones del fonacide en educacion, salud e investigacion -->

		<h1 class="text-6xl bg-gradient-to-r from-indigo-100 via-indigo-200 to-indigo-300 text-transparent bg-clip-text mt-20 text-center font-bold tracking-tighter items-center">Informate sobre todo lo que importa</h1>
	</section>
</main>
</Layout>
