---
import Layout from "../layouts/Layout.astro";
import TimeLine from "../components/TimeLine.astro";
import LogosSection from "../components/LogosSection.astro";
---

<Layout title="Welcome to Astro.">
	<main class="mx-10 md:mx-28 lg:mx-28 xl:mx-28">
		<section>
			<h1
				class="text-4xl lg:text-6xl bg-gradient-to-r from-indigo-100 via-indigo-200 to-indigo-300 text-transparent bg-clip-text mt-20 text-center font-bold tracking-tighter items-center"
			>
				Informate sobre todo lo que importa
			</h1>
			<p class="text-white border-white mt-10 text-center ">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Sapiente, ullam fugiat facilis maiores ad ipsam cupiditate eius
				tempore nesciunt voluptates tenetur quae eaque libero quos!
				Ratione deleniti assumenda nisi amet.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Sapiente, ullam fugiat facilis maiores ad ipsam cupiditate eius
				tempore nesciunt voluptates tenetur quae eaque libero quos!
				Ratione deleniti assumenda nisi amet.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Sapiente, ullam fugiat facilis maiores ad ipsam cupiditate eius
				tempore nesciunt voluptates tenetur quae eaque libero quos!
				Ratione deleniti assumenda nisi amet.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
			</p>
		</section>
		<section >
			<TimeLine />
		</section>
		<LogosSection />
	</main>
</Layout>
