<a
    class=" underline text-indigo-500 font-bold tracking-tighter"
    href="https://www.presidencia.gov.py/sala-de-prensa/noticias/historial/presidente-promulga-ley-de-hambre-cero-en-las-escuelas"
    ><slot /></a>

