<div class="w-full py-16 shadow-md">
  <h2 class="mx-2 text-center text-2xl font-light text-white md:text-3xl">Apoyado por esta organizaciones</h2>

  <div class="container mx-auto flex flex-wrap items-center justify-center space-y-3 py-10">
    <div class="w-60 object-contain px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
    <div class="w-60 px-6">
      <img src="cehuma.webp" alt="Corporate Inc" class="grayscale invert mix-blend-lighten">
    </div>
  </div>
</div>
<!-- 
<style>
    img {
        filter: invert(1);
        filter: grayscale(1);
        mix-blend-mode: lighten;
        /* opacity: 85; */
}
</style> -->