---
import ButtonGit from "./ButtonGit.astro";

---

<nav
    class="overflow-auto sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-opacity-100 bg-black rounded-b-lg border-b border-gray-200"
>
    <div class="max-w-5xl mx-auto px-2">
        <div class="flex text-sm md:text-md text-gray-200 items-center content-center justify-between h-16">
            <div class="flex space-x-4">
                <a class="hover:underline" href="#">Acerca de</a>
                <a class="hover:underline" href="#">Preguntas Frecuentes</a>
            </div>
            <ButtonGit/>
        </div>
    </div>
</nav>
