---
import ButtonGit from "./ButtonGit.astro";
import Logo from "./Logo.astro";
---

<nav
    class="overflow-auto sticky top-0 z-10 backdrop-filter backdrop-blur-lg bg-transparent rounded-b
    border-b boder-solid border-indigo-100 border-opacity-5"
>
    <div
        class="px-2 flex text-sm md:text-md items-center content-center justify-evenly h-12 bg-gradient-to-r from-indigo-50 via-indigo-100 to-indigo-200 text-transparent bg-clip-text text-center tracking-tighter"
    >
        <a class="hover:underline" href="#">Acerca de</a>
        <a class="hover:underline" href="#">Preguntas Frecuentes</a>
    </div>
</nav>
